*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Euclid Circular A', sans-serif;    
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    overflow: auto;
}

.nav{
    width: 100% ;
    background-color: #f8f9fc;
    height: 5rem;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.bars{
    display:none;
}

.logo{
    color:#111827 ;
    font-weight: bold;
    font-size: 30px;
    margin-left: 5rem;
    margin-top: 3.5rem;   
}

#glass{
    margin-top: .2rem;
    margin-left: 5rem;
    color:#9CA3AF;
    position: relative;
    font-size: 16px;
}

#myInput{
    background-color: #f8f9fc;
    font-family: 'Euclid Circular B', sans-serif;
    margin-top: .3rem;
    margin-right: -.1rem;
    color:#9CA3AF;
    font-size: 15px;
    padding-left: .8rem; 
    border: none;
    outline: none;
    font-weight: 200;
}

.others{
    width: 10rem;
    display: flex;
    margin-left: 5rem;
    margin-top: -.2rem;
}
    
.link{
    text-decoration: none;
    color:#6B7280;
    margin-right:2rem;
    padding: .5rem;
    font-size: 15px;
    font-weight: 400;

}

.bold{
    color:#000000;
    font-weight: 500;
}

.basket{
    width: 20px;
    height:23px;
    margin-top: -.5rem;
    margin-right: 3rem;
}

#basket{
    position: fixed;
    top:0;
    right: -100%;
    width: 360px;
    min-height: 80vh;
    z-index: 100;
    padding: 20px;
    background: #111827;
    box-shadow:-2px 0 4px hsl(0 4% 15% /10%);
    transition: .3s;
}

#basket.active{
    right: 0;
}

#basket-title{
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
}

.basket-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    gap:1rem;
    align-items:center;
    margin-top: 1rem;
    color: #ffffff;
}

.baske{
    width:100px;
     height:100px;
    object-fit: contain;
    padding:10px;  
}

.detail-box{
    display: grid;
    row-gap: 0.5rem;
}

.basket-product-title{
    font-size: 1rem;
    text-transform: uppercase;
}

.basket-price{
    font-weight: 500;
}

.basket-quantity{
    border:1px solid #ffffff;
    color:#ffffff;
    width:2.4rem;
    background-color: transparent;
    text-align: center;
    font-size: 1rem;
}

.basket-remove{
    font-size: 24px;
    color: #fD4646;
    cursor:pointer;
}

.total{
    display: flex;
    justify-content: flex-end;
    margin-top:1.5rem;
    border-top:1px solid #ffffff;
}

.total-title{
    font-size: 1rem;
    font-weight: 600;
    color:#ffffff;
}

.total-price{
    margin-left:.5rem;
    color: #ffffff;
}

.btn-buy{
    display:flex;
    margin: 1.5rem auto 0 auto;
    padding: 10px 15px;
    border: none;
    background-color: #f31010;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-buy:hover{
    background: #ffffff;
    color: #000000;
}

#close-basket{
    position: absolute;
    top:1rem;
    right:0.8rem;
    font-size: 2rem;
    color:#ffffff;
    cursor: pointer;
}

header{
    width: 100%;
    height: 3.8rem;
    background-color: #ffffff;
}

.items{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: .6rem;
}

.items li a{
       text-decoration: none;
       color: #374151;
       font-size: 13px;
       font-weight: 700;
       padding: .2rem;
}

.active{
    color: white;
    background-color: red;
    padding: .4rem;   
}

.parent{
    width: 100%; 
}

.div1{
    width: 65%;
    height: 35rem;
    float: left;
    background-color: #192233;
    margin-bottom: 6rem;
}


.group{
    width:100%;
    height: 35rem;
    z-index: 1;   
}

.order{
    width:30vw;
    height: 45vh;
    margin-top: 1rem;
    background-color: #1F2937;
    position: absolute;
    top: 30%;
    left: 8%;  
    padding: 1.5rem;
    margin: 1.5rem;
}

h1{
    font-size: 48px;  
    text-align: justify;
    color: #FAFAFA; 
}

.new_arrivals{
    font-size: 48px;
    text-align: justify;
    margin-top: .5rem;
    color: #F7C59F;
}

p{
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 3.5rem;
    color: #FAFAFA; 
}

#order{
    background-color: #1F2937 ;
    text-decoration: none;
    padding: .6rem 1rem .6rem .6rem;
    border: 1px solid #FAFAFA;
    color: #ffffff;
    margin-right: 1rem;
    font-size: 14px;
}

#arr{
    color: #ffffff;
    margin-left: .8rem;
    font-size: 20px;
}

.div2{
    width: 35%;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7C59F;
    float: right;
    margin-bottom: 6rem;
}

.circle{
    width: 55%;
    height: 55%;
    float: right;
    background-color: #ffffff;
    border-radius: 55%;

}

.girl{
    height: 70%;
    position: absolute;
    top:22%;
    right: 8%;
}

/*This weeks highlights*/
.container{
    width: 100%;
    margin: 0 auto;
}

.section-title{
    width: 15rem;
    margin: 0 auto;
    color: #192233;
    text-align: center;
    padding-bottom: 2rem;
    }

    hr{
        width: 80px;
        border: 3px solid #192233;
        border-radius: 5px;
        margin-left: 5rem;
        margin-top: .5rem;
        margin-bottom: 1rem;
    }

    .grid-wrapper img{
        max-width: 100%;
        height: auto;
        vertical-align: middle;
        display: inline-block;
    }

    .grid-wrapper > div{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .grid-wrapper > div > .img1{
        width: 60%;
        height: auto;
        object-fit: cover;
    }

    .grid-wrapper > div > .img2{
        width: auto;
        height: auto;
        margin-right: 20rem;
        object-fit: cover;
    }

    .grid-wrapper > div > .img3{
        width: auto;
        height: auto;
        margin-left: 18rem;
        margin-top: 1rem;
        object-fit: cover;
    }

    .grid-wrapper > div > .img4{
        width: 60%;
        height: auto;
        margin-right: 2rem;
        margin-top: -1rem;
        object-fit: cover;
    }

    .grid-wrapper{
        display: grid;
        grid-gap:10px;
        grid-template-columns: 1fr 1fr ;
        grid-auto-flow: dense;
        margin-bottom: 6rem;
    }
    
    .exclusive{
        width:15vw;
        height: 25vh;
        margin-top: 1rem;
        background-color: transparent;
        position: absolute;
        top: 128%;
        left: 15%;
        
    }
    
    .ex{
        font-size: 50px;
        color: #ffffff;
        text-shadow: 1px 1px 1px #9e9898;
        font-weight: 600;
        text-align: center;
        margin-left: 4rem;
    }

    .shift{
        margin-left: 1rem;
    }

    
    .shoes{
        width:14vw;
        height: 12vh;
        position: absolute;
        top: 135%;
        right: 30%;
        background-color: rgba(36, 34, 34, 0.5);
}

.es{
    font-size: 15px;
    color: #ffffff;
    font-weight: 600;
    margin-left: 1rem;    
}

.price{
    font-size: 12px;
    margin-top: -3.1rem;
    margin-left: 1rem;
    opacity: 0.7;
}

.off{
    font-size: 13px;
    margin-top: -3rem;
    margin-left: 1rem;
    color: #ffffff;
    opacity: 0.7;
}
.collection{
    width:35vw;
    height: 25vh;
    margin-top: 1rem;
    background-color: transparent;
    position: absolute;
    top: 130%;
    left: 45%;  
}

    .styles{
    font-size: 50px;
    font-stretch: expanded;
    color: #ffffff;
    text-shadow: 1px 1px 1px #9e9898;
    font-weight: 600;
    text-align: center;
    margin-left: 3.5rem;
    }

    .shoe{
        width:16vw;
        height: 11vh;
        position: absolute;
        top: 130%;
        left: -7%;
        background-color: rgba(36, 34, 34, 0.5);;
    }

    .esc{
        font-size: 15px;
        color: #ffffff;
        font-weight: 600;
        margin-left: 1rem; 
    }

    .new{
        width:35vw;
        height: 25vh;
        margin-top: 1rem;
        background-color: transparent;
        position: absolute;
        top: 190%;
        left: 15%;  
    }
    
    .Arrival{
    font-size: 50px;
    font-stretch: expanded;
    color: #ffffff;
    font-weight: 600;
    text-shadow: 1px 1px 1px #9e9898;
    text-align: center;
    margin-left: .1rem;
    }
    
    .sho{
        width:14vw;
        height: 12vh;
        position: absolute;
        top: 160%;
        left: -11%;
        background-color: rgba(36, 34, 34, 0.5);
    }
    
    .na{
        font-size: 15px;
        color: #ffffff;
        font-weight: 600;
        margin-left: 1rem; 
    }

    
    .item{
        width:15vw;
        height: 25vh;
        margin-top: 1rem;
        background-color: transparent;
        position: absolute;
        top: 190%;
        right: 20%;  
    }

    .Exc{
    font-size: 50px;
    font-stretch: expanded;
    color: #ffffff;
    text-shadow: 1px 1px 1px #9e9898;
    font-weight: 600;
    text-align: center;
    margin-left: 3.5rem;
    }

    .sh{
        width:14vw;
        height: 12vh;
        position: absolute;
        top: 155%;
        right: 35%;
        background-color: rgba(36, 34, 34, 0.5);
    }

    .ei{
        font-size: 15px;
        color: #ffffff;
        font-weight: 600;
        margin-left: 1rem;  
    }

   
    /*popular this week*/
    .Container{
        width: 80%;
        margin:0 auto;
       
    }

    .shop{
        margin-top:2rem;
    }

    .shop-content{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 6rem;
    }

    .product-box{
        position: relative;
    }

    .product-box:hover{
        padding:2px;
        border: 1px solid #000000;
        transition: .4s;
    }

    .product-image{
        width:100%;
        height: auto;
        margin-bottom: .5rem;
    }
    .product-title{
        font-size: 15px;
        font-weight: 600;
        text-transform:uppercase;
       
        color: #374151;   
        margin-bottom: .5rem;  
    }

    .product-price{
        font-size: 15px;
        font-weight: 700;
        margin-top: rem;
        text-align:center;
        color: #374151; 
    }

    .slash{
        margin-left: 1.8rem;
        color: #b8bbc0;
        text-decoration: line-through;
        font-weight: lighter;
    }

    .add-cart{
       position: absolute;
       top: 93%;
       right: 3%;
        color: #000000;
        cursor: pointer;
    }

    /*BRANDS FOR YOU*/
    .COntainer{
            width: 80%;
            margin: 0 auto;
        }
    
        #brands{
            margin-bottom: 5rem;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        .summer{
            margin-bottom: 7rem;
        }

        .details{
            width: 40%;
            height: 50%;
            margin-top: -23rem;
            margin-left: 5rem;
        }

        #sum_collections{
            color: #0D3F64;
            margin-bottom: 2rem;
            
        }

        .coll{
            color: #DE4F46
        }

        .now {
            color:#DE4F46;
            background-color: #ffffff;
            text-decoration: none;
            font-size: 10px;
            font-weight: 600;
            padding: 6px 10px;
        }

        #shop{
            margin-left: .8rem;
        }

        .number{
            width: 18rem;
            display: flex;
            justify-content: space-between;
            margin-top: 12rem;
            margin-bottom: 0;
            font-size: 16px;
            font-weight: 600;
        }

        .dot{
            font-weight: 100;
            color: #b8bbc0;
        }

        .words{
            width: 19rem;
            display: flex;
            justify-content: space-between;
            font-size: 10px;
        }

        /*FOOTER*/
        .footer{
            width: 100%;
            height: auto;
            background-color: #F9FAFB;
            padding: 50px 100px 50px 100px;
        }

        #footer{
            display: flex;
            justify-content: space-evenly;
        }

        .foot{
            list-style-type: none;
            color:#000308;
            font-weight: 700;
            font-size: 14px;
        }

        li{
            list-style-type: none;
            margin-top: .8rem;    
        }

        a{
            text-decoration: none;
            color: #6B7280;
            font-size: 12px;
            font-weight: 400;
        }

        .socials{
            display: flex;
            justify-content: space-evenly;
            margin-left: -.5rem;
        }

        .soc{
            width: 20%;
            margin: .5rem; 
            border-radius: 50px;
            padding: 4px;
            background-color: #000000;
            border: 1px solid #000000;
            font-size:8px;
            color: #ffffff;
        }

        .platforms{
            display: flex;
            justify-content: space-evenly;
            margin-top: .5rem;
            margin-left: -1.6rem;
            font-size: 24px;
        }

        .sign{
            width: 40%;
            float: right;
            margin-top: -6.5rem;
            margin-right: -2rem;
           
        }

        #signup{
            font-size: 12px;
            font-weight: 700;
            color: #000000;
            margin: 0;
        }

        .in{
            padding:.7rem 12rem .7rem 1rem;
            background-color: #ffffff;
            margin-left: .1rem;
            margin-top: .4rem;
            font-size: 10px;
            border:1px solid #000000
        }

        button{
            background-color: #000000;
            color:#ffffff ;
            font-size: 12px;
            font-weight: 700;
            padding: .4rem;
        }

        .sub{
            font-size: 10px;
            color: #6B7280;
            font-weight: 400;
        }

        #cookie{
            color: #0F4FCE;
            text-decoration: underline;
            font-size: 10px;
        }

        .copyright{
            width: 30%;
            height: auto;
            margin-top: 5rem;
            margin-left: 7rem;
        }

        .copyright p{
            color:#6B7280;
            font-size: 12px;
            font-weight: 500;
            margin-bottom: .5rem;
            margin-left: 1rem;
        }

        .copyright a{
            display: inline-block; 
            color:#6B7280;
            font-size: 12px;
            font-weight: 500;
            margin: .5rem;
            padding: .2em;
            text-decoration: underline;
        }

        .accept{
            width: 30%;
            float: right;
            margin-top: -7rem;
            margin-right: 6rem;
        }

        .accept p{
            color: #000000;
            font-size: 14px;
            font-weight: 600;
            margin: 0;
        }

        .cards{
            margin-top: 1rem;
        }

        .cards img{
            margin-top: .5rem;
        }
        /*end of footer*/

        /*************/
        /* PRODUCT LANDING PAGE*/
        /*ladies*/
        .ladies{
            width: 95%;
            height: 12%;
            margin: auto;
            background-color: #111827;
        }

        #top{
           float: right;
        }

        .top{
         font-size: 14px;
         font-weight: 600;
         color: #ffffff;  
         padding-top: 1.5rem;
         margin-left: 1.5rem;
         margin-bottom: -.2rem;  
        }

        .sales{
            font-size: 12px;
            color: #b8bbc0;
            margin-left: 1.5rem;   
        }
        
        #read{
            font-weight: 600;
            color: #ffffff;
        }

        #showing{
            margin-top: 2rem;
        }

        #showing p{
            color: #000000;
            font-size: 12px;
            margin-left: 3rem;
        }

        .sort{
            float: right;
            margin-right: 3rem;
        }
        
        .sort img{
            width: 9px;
        }
        /*SIDE BAR*/
        .sidebar{
            width: 100%;
            height: 150%;
            margin-bottom: 25rem;  
        }
 
        .diva{
            width:20%;
            height:125%;
            float: left;
            background-color: #F9FAFB;
            margin-left: 3rem;
            padding: 1.5rem; 
           
        }

        .head{
            font-size: 16px;
            color: #000000;
            margin: .3rem;
            font-weight: 800;
            margin-left: 1rem;
        }
        
        #prices p{
            font-size: 14px;
            color: #000000;
            margin-left: .7rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        
        .right{
            float: right;
            margin-right: 1rem;
            font-weight: 500;
        }
        
        #prices img{
            width: 85%;
            margin-left: 1rem;
            margin-bottom: 1.5rem;
        }
        
        .filters img{
            width: 7%;
        }
        
        .filters input{
            width: 14px;
            margin: .9rem;   
        }
        
        .filters span{
            font-size: 14px;
        }
        
        .brands{
            margin-top: 1rem;
        }
        
        .brands input{
            width: 14px;
            margin: .9rem;  
        }
        
        .brands span{
            font-size: 14px;
        }
        
        .brands .num{
            color: #EB5757;
            font-size: 14px;
            font-weight: 500;
            margin-left: 2rem; 
        }
        
        .categories{
            margin-top: -1.8rem;
        }
        
        .categories input{
            width: 14px;
            margin: .9rem;  
        }
        
        .categories span{
            font-size: 14px;
        }
        
        .categories .num{
            color: #EB5757;
            font-size: 14px;
            font-weight: 500;
            margin-left: 2rem; 
        }
        
        .size{
            margin-top: -1.8rem;
        }
        
        .size input{
            width: 14px;
            margin: .9rem;  
        }
        
        .size span{
            font-size: 14px;
        }

        /*SIDE BAR2*/
        .div_b{
            width: 70%;
            height: 125%;
            float: right;  
            margin-right: 1.5rem;
        }

        .wrapper{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        }

        .wrapper div{
            width: 80%;
            height:480px;
            margin-top: .6rem;
            margin-left: 2.5rem;
            border:1px solid #b8bbc0;
        }

        #heart{
            position:absolute;
            margin-left: 14rem;
            margin-top: -21rem;
        }

        .striped{
            text-align: justify;
            color: #1F2937;
            font-size: 17px;
            font-weight: 500;
            margin-left: 1rem;
        }

        #priced{
            margin-top: -3rem;
            text-align: justify;
            color: #1F2937;
            font-size: 17px;
            font-weight: 600;
            margin-left: 1rem;
        }

        .amt{
            font-size: 17px;
            float:right;
            color:#4B5563;
            font-weight: lighter;
            margin-right: 1rem;
        }

        #slash{
            margin-top: -3.2rem;
            margin-bottom: 1rem;
        }

        .slashed{
            margin-left: .8rem;
            font-size: 17px;
            color: #b8bbc0;
            text-decoration: line-through;
            font-weight: lighter;
        }

        .border{
            float: right;
            margin-right: 1rem;
            background-color: #000000;
            color: #ffffff;
            font-size: 12px;
            padding: .2rem .8rem;
        }

        .page_num{
            width: 5%;
            height: 6%;
            font-size: 15px;
            float: right;
            margin-top: -6rem;
            margin-right: 17rem;
            display: flex;
        }

        #none{
            border: 1px solid #000000;
            padding: .5rem;
            margin: .3rem;
        }

        .black{
            background-color: #000000;
            padding: .5rem;
            margin: .3rem;
        }

        .black i{
            font-weight: bolder;
            color: #ffffff;
            font-size: 20px;  
        }

        .grey{
            background-color: #D1D5DB;
            padding: .5rem;
            margin: .3rem;
        }

        .grey i{
            font-weight: bolder;
            font-size: 20px;  
        }

      /**MEDIA QUERIES*/
        @media screen and (max-width: 768px) and (max-width: 600px), (max-width: 992px){
            .nav{
                height: 4rem;        
                }

            /*.bars{
               display: inline;
               position: absolute;
               top: 20px;
               left:60px;
               font-size: 20px;
            }*/
            
            .logo{
                font-size: 22px;
                margin-left: 2.5rem;
                margin-top: 2rem;   
            }

            #glass{
                position: absolute;
                top:4%;
                left:25%;
                font-size: 10px;
            }
            
            #myInput{
                margin-top: -.9rem;
                
                font-size: 9px;
                padding-left: .8rem; 
            
            }

            .link {
                color: #000000;
                font-size: 10px;
            }

            .link:hover{
                background-color: #000000;
                color: #ffffff;
                padding: .2rem;
            }

            .bold{
                display: none;
            }

            .others{
                width: 10rem;
                margin-left: 15rem;
                margin-top: .2rem;
            }
           
            .basket{
                width:15px;
                height:15px;
                margin-top:-.2rem;
                margin-left: 5rem;
            }
            
            #basket{
                position: fixed;
                top:5%;
                right: -100%;
                width: 300px;
                min-height: 80vh;
                z-index: 0;
                padding: 20px;
              
            }

            #close-basket{
                top:2rem;
            }
            
    /*End of Nav bar*/
           
            header{
                width: 200%;
                height: 3rem;
                transform:translateX(100%);
                animation: cssmarquee 30s linear infinite;
                }
                @keyframes cssmarquee {
                0% {
                transform: translateX(100%);
                }
                100% {
                transform: translateX(-100%);
                }
                
                }

            .items{
                display: flex;
                justify-content: space-evenly;
                padding: .4rem;
            }

                
            .items li a{
                     margin: .5rem;
                    font-size: 10px;
                    font-weight: 600;
                }
            
            .active{
                padding: .2rem;   
                }
    /*End of header*/

            .parent{    
                display: flex;
                }

                .div1{
                    width: 65%;
                    height: 30rem;
                    margin-bottom: 6rem;
                }

                .group{
                    height: 30rem;
                }

                .order{
                    width:50vw;
                    height: 40vh;
                    position: absolute;
                    top: 25%;
                    left: 4%;  
                }

                h1{
                    font-size: 37px; 
                    margin-top: 1.5rem; 
                }

                .new_arrivals{
                    font-size: 30px;
                }

                p{
                    font-size: 15px;
                    margin-bottom: 2rem;
                }

                #order{
                    font-size: 10px;
                }

                #arr{
                    font-size: 10px;
                }

                .div2{
                    width: 35%;
                    height: 30rem;
                    margin-bottom: 6rem;
                }

                .circle{
                    width: 80%;
                    height: 45%;
                    margin: auto;
                    border-radius: 50%;
                }

                .girl{
                    height: 60%;
                    position: absolute;
                    top:27%;
                    right: 3%;
                }
        /*End of discount section*/
        .container{
            width: 80%;
            margin: 0 auto;
        }

            .title{
                font-size: 16px;
                    }
                
                hr{
                    width: 70px;
                    margin-left: 5.5rem;
                    }
                
                .grid-wrapper img{
                    max-width: 100%;
                    height: auto;
                    display: flex;
                    }
                
                
                .grid-wrapper > div > .img1{
                    margin: 0 auto;
                        
                    }
                
                .grid-wrapper > div > .img2{
                    margin: 0 auto;
                    }
                
                .grid-wrapper > div > .img3{
                    margin: 0 auto;
                    }
                
                .grid-wrapper > div > .img4{
                    margin: 0 auto;
                    }
                
                .grid-wrapper{
                    grid-template-columns: 1fr  ;
                    }

                .exclusive{
                    top:110%;
                    left: 30%;  
                    }    
                    
                .shoes{
                    width: 26vw;
                    top: 110%;
                    left: -18%;
                }
                
                .es{
                    font-size: 13px;  
                    margin-left: .6rem;  
                }
                
                .price{
                    margin-top: -2rem;
                    font-size: 10px;
                    margin-left: .6rem;
                }
                
                .off{
                    margin-top: -1.9rem;
                    font-size: 13px;
                    margin-left: .7rem;
                }

                .collection{
                    width:65vw;
                    margin-top: 10rem;
                    top: 150%;
                    left: 18%;  
                }
                
                 .shoe{
                    width:30vw;
                    top: 120%;
                    left: -10%;
                 }
                
                .esc{
                    font-size: 13px;
                    margin-left: .6rem; 
                    }
                
                .new{
                    width: 40vw;
                    top: 235%;
                    left: 30%;  
                    }
                    
                .sho{
                    width:26vw;
                    top: 125%;
                    left: -46%;
                    }
                    
                .na{
                    font-size: 13px;
                    margin-left: .6rem; 
                    }
                
                .item{
                    width:25vw;
                    top: 290%;
                    right: 45%;  
                    }
                
                .sh{
                    width:26vw;
                    top: 129%;
                    right: 5%;
                    }
                
                .ei{
                    font-size: 13px;
                    margin-left: .6rem;  
                    }
     /*End of this weeks highlight*/           
             .Container{
                width: 40%;
                 margin:0 auto;
                 }

            .shop{
              margin-top:1rem !important;
                  }
            .shop-content{
                display: inline-block;
            }

            .product-box{
                margin: 1.5rem;
            }
        /*End of popular brands*/

        .COntainer{
            width: 80%;
            margin: 0 auto;
        }
    
        #brands{
            margin-bottom: 3rem;
           justify-content: space-evenly;
        }

        .summer img {
           max-width: 100%;
           
        }

        .details{
            width: 40%;
            margin-top: -12rem;
            margin-left: 3rem;
        }

        #sum_collections{
            font-size: 16px;
            color: #0D3F64;
            margin-bottom: 1rem;
        }

        .number{
            justify-content: space-evenly;
            margin-top: 5rem;
            margin-left: -2rem;
            font-size: 12px;
        }

        .dot{
            color: #f2f5f8;
        }

        .words{
            justify-content: space-evenly;
            margin-left: -2.5rem;
        }
        /*End of Brands for you*/
        .footer{
            height: 90%;
            padding: 30px 40px 40px 5px;
            }
         
        .foot{
            margin-top: .5rem;
            margin-left: .8rem;
            font-size: 8px;
            }
            
        li{
            margin: .2rem;    
            }
        
        a{
            margin-left: .4rem;
            font-size: 8px;
            }

        .soc{
            padding: 2px;
            font-size:10px;
           
            }

        .platforms{
            font-size: 15px;
            margin-right: -1.5rem;
            }
         
        .sign{
            width: 40%;
            margin-right: -.2rem;
            margin-top: -5rem;
            }

        .in{
            padding:.4rem 4rem .4rem .3rem;
        }
            
        #signup{
            font-size: 8px;
                }
                 
        button{
            font-size: 10px;
                }
        
         .sub{
            font-size: 7px;
            margin-left: .2rem;
            margin-top: .1rem;
                }
        
        #cookie{
            font-size: 6px;
                }

        .copyright{
            width: 60%;
            margin-top: 2rem;
            margin-left: 4rem;
                }
        
        .copyright p{
            font-size: 8px;
            margin-bottom: .2rem;
            margin-left: .8rem;
                }
        
        .copyright a{
            display: flex;
            font-size: 8px;
            margin: .5rem;
           
                }
        
         .accept{
            width: 40%;
            margin-top: -8rem;
            margin-right: -.5rem;
                }
        
         .accept p{
            font-size: 8px;
            font-weight: 800;
                }
        
        .cards{
            margin-top: .5rem;
                }
        
        .cards img{
            width: 12%;
            margin-top: .5r0m;
                }    
       
            /*end of footer*/


        /*product landing page*/
        .ladies{
            margin-top: .5rem ;
        }

        #top{
             width: 124%;
        }

        .top{
            font-size: 10px;
            position:absolute;  
            padding-top: .5rem;
           
           }
   
           .sales{
                position: absolute;
                margin-top: 3rem;
               font-size: 10px;
               margin-left: 1.5rem;   
           }
        
        #showing{
            margin-top: .7rem;
        }

        #showing p{
            margin-left: 1.3rem;
        }

        .sort{
            margin-right: 1.3rem;
        }

         /*SIDE BAR*/
         .sidebar{
            width: 100%;
            height: 150%;
            margin-bottom: 25rem;  
        }
 
        .diva{
            height: 100%;
            margin-left: 1.3rem;
            padding: .5rem; 
        }

        .head{
            font-size: 12px;
            margin-left: .5rem;
            margin-top: 2rem;
        }
        
        #prices p{
            font-size: 10px;
        }
        
        #prices img{
            width: 75%;
            margin-bottom: .5rem;
        }
        
        .filters input{
            width: 10px;
            margin: .4rem;   
        }
        
        .filters span{
            font-size: 10px;
        }
        
        .brands{
            margin-top: .5rem;
        }
        
        .brands input{
            width: 10px;
            margin: .4rem;  
        }
        
        .brands span{
            font-size: 10px;
        }
        
        .brands .num{
            font-size: 10px;
            margin-left: 1.5rem; 
        }
        
        .categories{
            margin-top: -.5rem;
        }
        
        .categories input{
            width: 10px;
            margin: .4rem;  
        }
        
        .categories span{
            font-size: 10px;
        }
        
        .categories .num{
            font-size: 10px;
            margin-left: 2rem; 
        }
        
        .size{
            margin-top: -.5rem;
        }
        
        .size input{
            width: 10px;
            margin: .4rem;  
        }
        
        .size span{
            font-size: 10px;
        }

        /*SIDE BAR2*/
        .div_b{
            height: 120%; 
            margin-right: 3.5rem;
        }

        .wrapper{
            grid-template-columns: repeat(auto-fit, minmax(200px, auto));
            gap: .5rem;
        }

        .wrapper div{
            width: 80%;
            height:340px;
            margin-top: -.1rem;
            border:1px solid #b8bbc0;
        }

        .wrapper div img{
            width: 100%;
        }

        .F{
            display: none;
        }

        #heart{
            width: 3%;
            position:absolute;
            margin-left: -2rem;
            margin-top: 1rem;
        }

        .striped{
            text-align: left;
            color: #1F2937;
            font-size: 14px;
            font-weight: 500;
        }

        #priced{
            margin-top: -1.5rem;
            margin-left: 1rem;
            font-size: 12px;
        }

        .amt{
            font-size: 12px;
            margin-right: 1rem;
        }

        #slash{
            margin-top: -1.5rem;
            margin-bottom: .5rem;
        }

        .slashed{
            margin-left: .8rem;
            font-size: 12px;
        }

        .border{
            float: right;
            margin-right: 1rem;
            background-color: #000000;
            color: #ffffff;
            font-size: 10px;
            padding: .1rem .5rem;
        }

        .page_num{
            width: 5%;
            height: 6%;
            font-size: 10px;
            float: right;
            margin-top: -3rem;
            margin-right: 15rem;
            display: flex;
        }

        #none{
            border: 1px solid #000000;
            padding: .5rem;
            margin: .3rem;
        }

        .black{
            background-color: #000000;
            padding: .5rem;
            margin: .3rem;
        }

        .black i{
            font-weight: bolder;
            color: #ffffff;
            font-size: 15px;  
        }

        .grey{
            background-color: #D1D5DB;
            padding: .5rem;
            margin: .3rem;
        }

        .grey i{
            font-weight: bolder;
            font-size: 15px;  
        }
    }  


  