*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Euclid Circular A', sans-serif;
    
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    overflow: auto;
}

.nav{
    width: 100% ;
    background-color: #f8f9fc;
    height: 5rem;
    padding: .5rem;
    display: flex;
    flex-direction: row;   
}

.bars{
    display:none;
}

.logo{
    
    color:#111827 ;
    font-weight: bold;
    font-size: 30px;
    margin-left: 5rem;
    margin-top: .8rem;   
}

#glass{
    margin-top: 1.5rem;
    margin-left: 20rem;
    color:#9CA3AF;
    position: relative;
    font-size: 16px;
}

input{
    background-color: #f8f9fc;
    font-family: 'Euclid Circular B', sans-serif;
    margin-top: .3rem;
    margin-right: -.1rem;
    color:#9CA3AF;
    font-size: 15px;
    padding-left: .8rem; 
    border: none;
    outline: none;
    font-weight: 200;
}

.others{
    width: 10rem;
    display: flex;
    margin-left: 16rem;
    margin-top: -.2rem;
   
}
    
.link{
    text-decoration: none;
    color:#6B7280;
    margin-left: 1.5rem;
    margin-top: 1.2rem;
    padding: .5rem;
    font-size: 15px;
    font-weight: 400;

}

.bold{
    color:#000000;
    font-weight: 500;
}

.basket{
    width:25px;
    height:23px;
    margin-top: 1.2rem;
    margin-left: 13rem;
}

header{
    width: 100%;
    height: 3.8rem;
    background-color: #ffffff;
}

.items{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: .6rem;
}

.items li a{
       text-decoration: none;
       color: #374151;
       font-size: 13px;
       font-weight: 700;
       padding: .2rem;
}

.active{
    color: white;
    background-color: red;
    padding: .4rem;   
}

.parent{
    width: 100%; 
}

.div1{
    width: 65%;
    height: 35rem;
    float: left;
    background-color: #192233;
    margin-bottom: 6rem;
}


.group{
    width:100%;
    height: 35rem;
    z-index: 1;   
}

.order{
    width:30vw;
    height: 45vh;
    margin-top: 1rem;
    background-color: #1F2937;
    position: absolute;
    top: 30%;
    left: 8%;  
    padding: 1.5rem;
    margin: 1.5rem;
}

h1{
    font-size: 50px;  
    text-align: justify;
    color: #FAFAFA; 
}

.new_arrivals{
    font-size: 50px;
    text-align: justify;
    margin-top: .5rem;
    color: #F7C59F;
}

p{
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 3.5rem;
    color: #FAFAFA; 
}

#order{
    background-color: #1F2937 ;
    text-decoration: none;
    padding: .6rem 1rem .6rem .6rem;
    border: 1px solid #FAFAFA;
    color: #ffffff;
    margin-right: 1rem;
    font-size: 14px;
}

#arr{
    color: #ffffff;
    margin-left: .8rem;
    font-size: 20px;
}

.div2{
    width: 35%;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7C59F;
    float: right;
    margin-bottom: 6rem;
}

.circle{
    width: 55%;
    height: 55%;
    float: right;
    background-color: #ffffff;
    border-radius: 55%;

}

.girl{
    height: 70%;
    position: absolute;
    top:22%;
    right: 8%;
}

/*This weeks highlights*/
.container{
    width: 80%;
    margin: 0 auto;
}

.title{
    width: 15rem;
    margin: auto;
    color: #192233;
    text-align: center;
    padding-bottom: 2rem;
    }

    hr{
        width: 80px;
        border: 3px solid #192233;
        border-radius: 5px;
        margin-left: 5rem;
        margin-top: .5rem;
        margin-bottom: 1rem;
    }

    .grid-wrapper img{
        max-width: 100%;
        height: auto;
        vertical-align: middle;
        display: inline-block;
    }

    .grid-wrapper > div{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .grid-wrapper > div > .img1{
        width: 60%;
        height: auto;
        object-fit: cover;
    }

    .grid-wrapper > div > .img2{
        width: auto;
        height: auto;
        margin-right: 14rem;
        object-fit: cover;
    }

    .grid-wrapper > div > .img3{
        width: auto;
        height: auto;
        margin-left: 16rem;
        margin-top: 1rem;
        object-fit: cover;
    }

    .grid-wrapper > div > .img4{
        width: 60%;
        height: auto;
        margin-left: 2rem;
        margin-top: -1rem;
        object-fit: cover;
    }

    .grid-wrapper{
        display: grid;
        grid-gap:10px;
        grid-template-columns: 1fr 1fr ;
        grid-auto-flow: dense;
        margin-bottom: 6rem;
    }

    .exclusive{
        width:15vw;
        height: 25vh;
        margin-top: 1rem;
        background-color: transparent;
        position: absolute;
        top: 128%;
        left: 20%;  
    }
    
    .ex{
        font-size: 40px;
        color: #ffffff;
        text-shadow: 1px 1px 1px #9e9898;
        font-weight: 600;
        text-align: center;
        margin-left: 4rem;
    }

    .shift{
        margin-left: 1rem;
    }

    
.shoes{
    width:12vw;
    height: 10vh;
    position: absolute;
    top: 95%;
    right: 30%;
    background-color: rgba(36, 34, 34, 0.5);
}

.es{
    font-size: 12px;
    color: #ffffff;
    font-weight: 600;
    margin-left: 1rem;    
}

.price{
    font-size: 10px;
    margin-top: -3.1rem;
    margin-left: 1rem;
    opacity: 0.7;
}

.off{
    font-size: 13px;
    margin-top: -3rem;
    margin-left: 1rem;
    color: #ffffff;
    opacity: 0.7;
}
.collection{
    width:35vw;
    height: 25vh;
    margin-top: 1rem;
    background-color: transparent;
    position: absolute;
    top: 130%;
    left: 45%;  
}

    .styles{
    font-size: 40px;
    font-stretch: expanded;
    color: #ffffff;
    text-shadow: 1px 1px 1px #9e9898;
    font-weight: 600;
    text-align: center;
    margin-left: 3.5rem;
    }

    .shoe{
        width:15vw;
        height: 11vh;
        position: absolute;
        top: 85%;
        left: -3%;
        background-color: rgba(36, 34, 34, 0.5);;
    }

    .esc{
        font-size: 14px;
        color: #ffffff;
        font-weight: 600;
        margin-left: 1rem; 
    }

    .new{
        width:35vw;
        height: 25vh;
        margin-top: 1rem;
        background-color: transparent;
        position: absolute;
        top: 180%;
        left: 19%;  
    }
    
    .Arrival{
    font-size: 40px;
    font-stretch: expanded;
    color: #ffffff;
    font-weight: 600;
    text-shadow: 1px 1px 1px #9e9898;
    text-align: center;
    margin-left: .1rem;
    }
    
    .sho{
        width:12vw;
        height: 10vh;
        position: absolute;
        top: 115%;
        left: -1%;
        background-color: rgba(36, 34, 34, 0.5);
    }
    
    .na{
        font-size: 13px;
        color: #ffffff;
        font-weight: 600;
        margin-left: 1rem; 
    }

    
    .item{
        width:15vw;
        height: 25vh;
        margin-top: 1rem;
        background-color: transparent;
        position: absolute;
        top: 178%;
        right: 25%;  
    }

    .Exc{
    font-size: 40px;
    font-stretch: expanded;
    color: #ffffff;
    text-shadow: 1px 1px 1px #9e9898;
    font-weight: 600;
    text-align: center;
    margin-left: 3.5rem;
    }

    .sh{
        width:12vw;
        height: 10vh;
        position: absolute;
        top: 115%;
        right: 20%;
        background-color: rgba(36, 34, 34, 0.5);
    }

    .ei{
        font-size: 13px;
        color: #ffffff;
        font-weight: 600;
        margin-left: 1rem;  
    }

   
    /*popular this week*/
    .Container{
        width: 80%;
        margin: 0 auto;
    }

    .girls{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 4rem;
    }

    .pic{
        margin: 1rem;
    }

    .strip{
        font-size: 15px;
        font-weight: 400;
        color: #374151;     
    }

    .peplum{
        font-size: 15px;
        font-weight: 400;
        margin-top: -3.5rem;
        color: #374151;  
    }

    #price{
        font-size: 15px;
        font-weight: 700;
        margin-top: -2.5rem;
        color: #374151; 
    }

    .slash{
        margin-left: .8rem;
        color: #b8bbc0;
        text-decoration: line-through;
        font-weight: lighter;
    }

    .add{
        margin-left: 3.5rem;
        font-size: 14px;
        font-weight: 700;
        color: #000000;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    /*BRANDS FOR YOU*/
    .COntainer{
            width: 80%;
            margin: 0 auto;
        }
    
        #brands{
            margin-bottom: 5rem;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        .summer{
            margin-bottom: 7rem;
        }

        .details{
            width: 40%;
            height: 50%;
            margin-top: -23rem;
            margin-left: 5rem;
        }

        #sum_collections{
            color: #0D3F64;
            margin-bottom: 2rem;
            
        }

        .coll{
            color: #DE4F46
        }

        .now {
            color:#DE4F46;
            background-color: #ffffff;
            text-decoration: none;
            font-size: 10px;
            font-weight: 600;
            padding: 6px 10px;
        }

        #shop{
            margin-left: .8rem;
        }

        .number{
            width: 18rem;
            display: flex;
            justify-content: space-between;
            margin-top: 12rem;
            margin-bottom: 0;
            font-size: 16px;
            font-weight: 600;
        }

        .dot{
            font-weight: 100;
            color: #b8bbc0;
        }

        .words{
            width: 19rem;
            display: flex;
            justify-content: space-between;
            font-size: 10px;
        }

        /*FOOTER*/
        .footer{
            width: 100%;
            height: auto;
            background-color: #F9FAFB;
            padding: 50px 100px 50px 100px;
        }

        #footer{
            display: flex;
            justify-content: space-evenly;
        }

        .foot{
            list-style-type: none;
            color:#000308;
            font-weight: 700;
            font-size: 14px;
        }

        li{
            list-style-type: none;
            margin-top: .8rem;    
        }

        a{
            text-decoration: none;
            color: #6B7280;
            font-size: 12px;
            font-weight: 400;
        }

        .socials{
            display: flex;
            justify-content: space-evenly;
            margin-left: -1rem;
        }

        .soc{
            width: 20%;
            margin: .5rem; 
            border-radius: 50px;
            padding: 4px;
            background-color: #000000;
            border: 1px solid #000000;
            font-size:8px;
            color: #ffffff;
        }

        .platforms{
            display: flex;
            justify-content: space-evenly;
            margin-top: .5rem;
            margin-left: -1.6rem;
            font-size: 24px;
        }

        .sign{
            width: 40%;
            float: right;
            margin-top: -6.5rem;
            margin-right: -2rem;
           
        }

        #signup{
            font-size: 12px;
            font-weight: 700;
            color: #000000;
            margin: 0;
        }

        .in{
            padding:.7rem 12rem .7rem 1rem;
            background-color: #ffffff;
            margin-left: .1rem;
            margin-top: .4rem;
            font-size: 10px;
            border:1px solid #000000
        }

        button{
            background-color: #000000;
            color:#ffffff ;
            font-size: 12px;
            font-weight: 700;
            padding: .4rem;
        }

        .sub{
            font-size: 10px;
            color: #6B7280;
            font-weight: 400;
        }

        #cookie{
            color: #0F4FCE;
            text-decoration: underline;
            font-size: 10px;
        }

        .copyright{
            width: 30%;
            height: auto;
            margin-top: 5rem;
            margin-left: 7rem;
        }

        .copyright p{
            color:#6B7280;
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 2rem;
        }

        .copyright a{
            color:#6B7280;
            font-size: 12px;
            font-weight: 500;
            margin: .5rem;
            padding: .2rem;
            text-decoration: underline;
        }

        .accept{
            width: 30%;
            float: right;
            margin-top: -7rem;
            margin-right: 6rem;
        }

        .accept p{
            color: #000000;
            font-size: 14px;
            font-weight: 600;
            margin: 0;
        }

        .cards{
            margin-top: 1rem;
        }

        .cards img{
            margin-top: .5rem;
        }
        /*end of footer*/

        /*************/
        /* PRODUCT LANDING PAGE*/
        /*ladies*/
        .ladies{
            width: 95%;
            height: 12%;
            margin: auto;
            background-color: #111827;
        }

        #top{
           float: right;
            width: 63%;
        }

        .top{
         font-size: 14px;
         font-weight: 600;
         color: #ffffff;  
         padding-top: 1.5rem;
         margin-left: 1.5rem;
         margin-bottom: -.2rem;  
        }

        .sales{
            font-size: 12px;
            color: #b8bbc0;
            margin-left: 1.5rem;   
        }
        
        #read{
            font-weight: 600;
            color: #ffffff;
        }

        #showing{
            margin-top: 2rem;
        }

        #showing p{
            color: #000000;
            font-size: 12px;
            margin-left: 3rem;
        }

        .sort{
            float: right;
            margin-right: 3rem;
        }
        
        .sort img{
            width: 9px;
        }
        /*SIDE BAR*/
        .sidebar{
            width: 100%;
            height: 150%;
            margin-bottom: 25rem;  
        }
 
        .diva{
            width:20%;
            height:125%;
            float: left;
            background-color: #F9FAFB;
            margin-left: 5rem;
            padding: 1.5rem; 
           
        }

        .head{
            font-size: 16px;
            color: #000000;
            margin: .3rem;
            font-weight: 800;
            margin-left: 1rem;
        }
        
        #prices p{
            font-size: 14px;
            color: #000000;
            margin-left: .7rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        
        .right{
            float: right;
            margin-right: 1rem;
            font-weight: 500;
        }
        
        #prices img{
            width: 85%;
            margin-left: 1rem;
            margin-bottom: 1.5rem;
        }
        
        .filters img{
            width: 7%;
        }
        
        .filters input{
            width: 14px;
            margin: .9rem;   
        }
        
        .filters span{
            font-size: 14px;
        }
        
        .brands{
            margin-top: 1rem;
        }
        
        .brands input{
            width: 14px;
            margin: .9rem;  
        }
        
        .brands span{
            font-size: 14px;
        }
        
        .brands .num{
            color: #EB5757;
            font-size: 14px;
            font-weight: 500;
            margin-left: 2rem; 
        }
        
        .categories{
            margin-top: -1.8rem;
        }
        
        .categories input{
            width: 14px;
            margin: .9rem;  
        }
        
        .categories span{
            font-size: 14px;
        }
        
        .categories .num{
            color: #EB5757;
            font-size: 14px;
            font-weight: 500;
            margin-left: 2rem; 
        }
        
        .size{
            margin-top: -1.8rem;
        }
        
        .size input{
            width: 14px;
            margin: .9rem;  
        }
        
        .size span{
            font-size: 14px;
        }

        /*SIDE BAR2*/
        .div_b{
            width: 70%;
            height: 125%;
            float: right;  
            margin-right: 3rem;
        }

        .wrapper{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: -.5rem;
        }

        .wrapper div{
            height:480px;
            margin-top: .6rem;
            margin-left: 2.5rem;
            border:1px solid #b8bbc0;
        }

        #heart{
            position:absolute;
            margin-left: -4rem;
            margin-top: 1rem;
        }

        .striped{
            text-align: justify;
            color: #1F2937;
            font-size: 15px;
            font-weight: 500;
            margin-left: 1rem;
            
        }

        .peplums{
            text-align: justify;
            color: #1F2937;
            font-size: 15px;
            font-weight: 500;
            margin-top: -3.2rem;
            margin-left: 1rem;
        }

        #priced{
            margin-top: -3rem;
            text-align: justify;
            color: #1F2937;
            font-size: 17px;
            font-weight: 600;
            margin-left: 1rem;
        }

        .amt{
            font-size: 17px;
            float:right;
            color:#4B5563;
            font-weight: lighter;
            margin-right: 1rem;
        }

        #slash{
            margin-top: -3.4rem;
            margin-bottom: 1rem;
        }

        .slashed{
            margin-left: .8rem;
            font-size: 17px;
            color: #b8bbc0;
            text-decoration: line-through;
            font-weight: lighter;

        }

        .border{
            float: right;
            margin-right: 1rem;
            background-color: #000000;
            color: #ffffff;
            font-size: 12px;
            padding: .2rem .8rem;
        }

        .page_num{
            width: 5%;
            height: 6%;
            font-size: 15px;
            float: right;
            margin-top: -6rem;
            margin-right: 17rem;
            display: flex;
        }

        #none{
            border: 1px solid #000000;
            padding: .5rem;
            margin: .3rem;
        }

        .black{
            background-color: #000000;
            padding: .5rem;
            margin: .3rem;
        }

        .black i{
            font-weight: bolder;
            color: #ffffff;
            font-size: 20px;  
        }

        .grey{
            background-color: #D1D5DB;
            padding: .5rem;
            margin: .3rem;
        }

        .grey i{
            font-weight: bolder;
            font-size: 20px;  
        }

      



       
      



        

       

       
        

       

        @media screen and (max-width: 700px){
            .nav{
                display: flex;
            }

            .bars{
                display: flex;
                margin: 1.3rem;
                font-size:24px;
            }
            
            .logo{
                position:absolute;
                font-size: 30px;
                margin-left: 5rem;
                margin-top: .7rem;   
            }

            
             #glass{
                margin-top: 1.7rem;
                margin-left: 20rem;
            }

            input{
                margin-top: .3rem;
                font-size: 15px;
                padding-left: .4rem; 
            }

            .others{
                display: none;
            }
           
            .basket{
                margin-top: 1.3rem;
                margin-left: 2rem;
            }

            header{
                width: 200%;
                transform:translateX(100%);
                animation: cssmarquee 15s linear infinite;
                }
                @keyframes cssmarquee {
                0% {
                transform: translateX(100%);
                }
                100% {
                transform: translateX(-100%);
                }
                }

            .items{
                display: flex;
                justify-content: space-between;
                padding: .6rem;
            }

                
                .items li a{
                        margin: 1rem;
                       font-size: 10px;
                       font-weight: 600;
                }

                .parent{
                    display: flex;
                }

                .div1{
                    width: 65%;
                    height: 30rem;
                    margin-bottom: 6rem;
                }

                .group{
                    height: 30rem;
                }

                .order{
                    width:50vw;
                    height: 40vh;
                    position: absolute;
                    top: 28%;
                    left: 3%;  
                }

                h1{
                    font-size: 30px; 
                    margin-top: 1.5rem; 
                }

                .new_arrivals{
                    font-size: 30px;
                }

                p{
                    font-size: 10px;
                }

                #order{
                    font-size: 8px;
                }

                #arr{
                    font-size: 8px;
                }

                .div2{
                    width: 35%;
                    height: 30rem;
                    margin-bottom: 6rem;
                }

                .circle{
                    width: 80%;
                    height: 40%;
                    margin: auto;
                    border-radius: 50%;
                }

                .girl{
                    height: 65%;
                    position: absolute;
                    top:27%;
                    right: 1%;
                }

                .title{
                    width: 12rem;
                    font-size: 14px;
                    }
                
                    hr{
                        width: 70px;
                        margin-left: 4rem;
                    }
                
                    .photo-gallery img{
                        width: 70%;
                    }

                    .photo_1{
                        position:absolute;
                        top: 40%;
                        left: 90%;
                    }

                    .photo_2{
                        position: relative;
                        top: 20%;
                        left: 100%;
                    }

                    
                    .new{
                        width:60vw;
                        position: absolute;
                        top: 30%;
                        left: 5%;  
                    }

                    .sho{
                        width:26vw;
                        position: absolute;
                        top: 70%;
                        right: 68%;
                    }

                    
                    .off{
                        font-size: 11px;
                    }

                    .item{
                        width:35vw;
                        top: 22%;
                        right: 15%; 
                    }
                
                    .sh{
                        width:25vw;
                        position: absolute;
                        top: 100%;
                        right: 25%;              
                    }
                
                    #slider{
                        overflow: hidden;
                        margin-top: -3rem;
                    }

                    #slider figure{
                        position: relative;
                        width: 200%;
                        margin: 2rem;
                        left: 1%;
                        animation: 15s slider infinite  ;
                            }

                        #slider figure .photo-gallery{
                            float:left;
                        
                        }

                    @keyframes slider{
                        0%{
                            left:0;
                        }
                        20%{
                            left: 0;
                        }
                        25%{
                            left: -100%;
                        }
                        45%{
                            left: -100%;
                        }
                        50%{
                            left: -200%;
                        }
                        70%{
                            left: -200%
                        }
                        75%{
                            left: -300%;
                        }
                        95%{
                            left: -300%;
                        }
                        100%{
                            left: -400%;
                        }
                    }

                    .Container{
                        top: 180%;
                        left: 5%;
                        
                    }
                
                    .pic{
                        width: 40%;
                        margin: 2.2rem;
                    }

                    .strip{
                        font-size: 12px;    
                    }

                    .peplum{
                        font-size: 12px;  
                    }

                    #price{
                        font-size: 12px;
                    }

                    .COntainer{
                        top: 270%;
                        left: 6%;
                        margin: auto;  
                    }
                
                    #brands{
                        margin-bottom: 5rem;
                        margin-right: 2rem;
                    }

                    .summer img{
                        width: 110%;
                    }

                    .summer{
                        margin-left: -3rem;
                    }
            
                    .details{
                        top:50%;
                        left: -2%;
                    }

                    #sum_collections{
                        font-size: 20px;
                    }
         
                    .number{
                        width: 10rem;
                        margin-top: 9rem;
                        font-size: 12px;
                    }
                    .dot{
                        font-weight: 300;
                        color: #ffffff;
                    }
            
                    .words{
                        width: 10rem;
                        font-size: 10px;
                    }

                    .footer{
                        height: 90%;
                        top: 351%;
                        left:0%;
                        padding: 50px 40px 20px 30px;
                    }
            
                    .foot{
                        margin-left: .8rem;
                        font-size: 10px;
                    }
            
                    li{
                        margin: .2rem;    
                    }
            
                    a{
                        margin-left: .4rem;
                    }

                    .soc{
                        margin: .4rem; 
                        padding: 2px;
                        font-size:10px;
                    }

                    .platforms{
                        margin-top: .5rem;
                        font-size: 18px;
                    }
            
                    .sign{
                        width: 60%;
                        top:37%;
                        left: 7%;
                    }
            
                    #signup{
                        font-size: 10px;
                    }
            
                    button{
                        position: absolute;
                        top: 14%;
                        left: 83%;
                    }
            
                    .copyright{
                        width: 100%;
                        height: auto;
                        position: absolute;
                        top:60%;
                        left: 5%;
                    }

                    br{
                        display: none;
                    }
                    
                    .copyright p{
                        margin-bottom: 2rem;

                    }

                    .copyright a{
                        margin: .1rem;
                        padding: .1rem;
                    }
            
                    .accept{
                        width: 60%;
                        position: absolute;
                        top: 80%;
                        left:10%;
                        margin: auto;
                    }
    
                    .accept p{
                        text-align: center;
                        font-size: 12px;
                    }
            
                    .cards img{
                        margin-top: .5rem;
                        margin-bottom: .5rem;
                    }
            
        }